.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #020e62;
}

.welcome {
  font-size: 5rem;
}

.title {
  font-size: 3rem;
}

.name {
  font-size: 2rem;
}

.my-menu {
  font-size: 25px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 15px;
}

.button-container button {
  margin-right: 7.5rem;
}

.button-container2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 15px;
}

.button-container2 button {
  margin-right: 1.5rem;
}

.Card-root {
  border: 1px solid #020e62;
}

.table-head{
  background-color: #020e62;
  color: #fff;
}

.table-cell{
  color: #fff;
}
